<button mat-button (click)="goBack()">Back</button>

<h1>
  Update Recipe
</h1>

<div class="add-recipe">
  <form (ngSubmit)="updateRecipe()" [formGroup]="updateForm" style="display:flex; flex-direction: column;">

    <mat-form-field appearance="fill">
      <mat-label>Recipe Name</mat-label>
      <input *ngIf="recipe$ | async as recipe" matInput type="text" placeholder="Name..." formControlName="name" [value]="recipe.name"/>
      <input *ngIf="!(recipe$ | async) as recipe" matInput type="text" placeholder="Name..." formControlName="name"/>
      <mat-error *ngIf="nameInput.invalid && nameInput.touched">
        Enter a valid name.....
      </mat-error>
    </mat-form-field >

    <mat-form-field appearance="fill">
      <mat-label>calories</mat-label>
      <input *ngIf="recipe$ | async as recipe" matInput type="number" placeholder="calories..." formControlName="calories" [value]="recipe.calories" />
      <input *ngIf="!(recipe$ | async) as recipe" matInput type="number" placeholder="calories..." formControlName="calories" />

    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>fat</mat-label>
      <input matInput type="number" placeholder="fat..." formControlName="fat" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>satfat</mat-label>
      <input matInput type="number" placeholder="satfat..." formControlName="satfat" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>carbs</mat-label>
      <input matInput type="number" placeholder="carbs..." formControlName="carbs" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>fiber</mat-label>
      <input matInput type="number" placeholder="fiber..." formControlName="fiber" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>sugar</mat-label>
      <input matInput type="number" placeholder="sugar..." formControlName="sugar" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>protein</mat-label>
      <input matInput type="number" placeholder="protein..." formControlName="protein" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Recipe Instructions</mat-label>
      <textarea matInput placeholder="Instructions..." formControlName="instructions"></textarea>
      <mat-error *ngIf="instructionsInput.invalid && instructionsInput.touched">
        Enter a minimum of 10 characters and a maximum of 255.....
      </mat-error>
    </mat-form-field >

    <mat-form-field appearance="fill">
      <mat-label>Recipe Ingredients</mat-label>
      <textarea matInput placeholder="Ingredients..." formControlName="ingredients"></textarea>
      <mat-error *ngIf="instructionsInput.invalid && instructionsInput.touched">
        Enter a minimum of 10 characters and a maximum of 255.....
      </mat-error>
    </mat-form-field >

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput type="url" placeholder="Image URL..." formControlName="image" />
    </mat-form-field>

    <button
    mat-raised-button
    type="submit"
    [disabled]="updateForm.invalid">Submit</button>
    <a class="back-btn" [routerLink]="['/recipes', id]">Back</a>
  </form>
</div>
