.mat-toolbar{
  background-image: linear-gradient(90deg, rgb(39, 104, 147) 0%, #161e2e 100%);
  color: white;
  border-bottom-left-radius: 70px;

}
.mat-button{
   color: white;
}
.spacer{
  flex: 1 1 auto;
}
