  <div class="recipe-container"  *ngIf="recipe$ | async as recipe" style="display:flex; flex-direction: column;">

    <mat-card-title>{{ recipe.name }}</mat-card-title>


    <img mat-card-xl-image [src]="recipe.image" [alt]="recipe.name">

    <mat-card>
      <mat-card-title>Ingredients</mat-card-title>
          <mat-list ngIfInstanceof="Array" *ngFor="let ingredient of recipe.ingredients" role="list">
            <mat-list-item role="listitem">{{ ingredient }}</mat-list-item>
          </mat-list>
    </mat-card>


    <mat-card>
      <mat-card-content>{{ recipe.instructions }}	</mat-card-content>
    </mat-card>

    <button mat-button (click)="goBack()">Back</button>

    <mat-card-actions *ngIf="recipe.edit">
      <button mat-button (click)="deleteRecipe()">Delete</button>
      <button mat-button (click)="updateRecipe()">Update</button>
    </mat-card-actions>

  </div>
