<mat-grid-list cols="1" rowHeight="2:1">
  <mat-card>
    <img mat-card-image src="" layout-fill/>
  </mat-card>

  <mat-card style="margin: 10px">
    <mat-card-title> </mat-card-title>
  </mat-card>

  <mat-card-title>Recipes</mat-card-title>
    <div style="display:flex; flex-direction: row;">

      <mat-card style="margin: 10px">
        <mat-card-header [ngStyle]="{'color':'black'}"> Recipe_name </mat-card-header>
        <mat-card-content>  </mat-card-content>
      </mat-card>

      <mat-card style="margin: 10px">
        <mat-card-header>Recipe_name</mat-card-header>
        <mat-card-content>  </mat-card-content>
      </mat-card>

      <mat-card style="margin: 10px">
        <mat-card-header>Recipe_name</mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>

    </div>
  </mat-grid-list>

