<mat-card-title>Recipes</mat-card-title>
<div *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div  class="recipes-container" *ngIf="!(loading$ | async)" style="display:flex; flex-wrap: wrap;">
 <div *ngFor="let recipe of recipes$ | async">
  <mat-card style="margin: 10px">

    <img mat-card-sm-image [src]="recipe.image">

    <mat-card-header [ngStyle]="{'color':'black'}"> {{recipe.name}} </mat-card-header>

    <button [routerLink]="['/recipes', recipe.id]" mat-button>Read more</button>

  </mat-card>
  </div>
</div>
